* {
  position: relative;
  background-color: #3bf0e7;
  color: #0a4d68;
  height: fit-content;
}
a{
  background-color: white;
}
p{
  background-color: white;
 
}

input {
  background-color: white;
}


form > textarea {
  background-color: white;
  display: inline-flex;
  position: relative;
  width: 280px;
  height: 80px;
}
form > button {
  background-color: #0a4d68;
  position: relative;
  color: white;
  border: 0px;
}
li>p{
  max-width: 880px;
  inline-size: fit-content;
  margin-left: 0px;
  overflow-wrap: break-word;
  max-lines: 80px;
}

ul,
li {
  background-color: white;
  padding-top: 0px;
  margin-top: 0px;
}
form {
  background-color: white;
}
iframe {
  position: relative;
  height: 840px;
  left: 1450px;
  width: 455px;
  bottom: 840px;
  border-radius: 80px;
  border-top-right-radius: 0px;
  border-bottom-right-radius: 10px;
}
body{
  height: fit-content;
  width: fit-content;
  overflow:hidden;
  
}

.container {
  display: contents;
  background-color: white;
}
.tf{
  display: flex;
  position: relative;
  bottom: 1060px;
  margin-bottom: 20px;
  margin-inline: 300px;
}
.tf>button{
  border-style: groove;
  border-radius: 25%;
}
.questions {
  position: relative;
  margin-bottom: 100px;
  position: relative;
  left: 20px;
  margin: 10px;
  max-width: fit-content;
  bottom: 120px;
}


#title {
  margin: auto;
  align-content: center;
  max-width: fit-content;
}

#question-div {
  background-color: transparent;
  display: flex;
  flex-wrap: wrap;
  flex-flow: column;
  background-color: white;
  margin-right: 50px;
  padding-right: 60px;
  max-height: 840px;
  overflow-x: hidden;
  overflow-y: auto;
  align-content: center;
  
  
}
#masonic-img, #masonic-family, #double-eagle  {
  zoom: 20%;
  position: relative;
  left: 350px;
  width: 500px;
  height: auto;
  margin : 0px;
  border-radius: 20px;
  margin-bottom: 60px;
}


#q1,#q3 {
  position: relative;
  max-inline-size: 280px;
  bottom: 380px;
  
}
#q2{
  max-inline-size: 380px;
  left: 500px;
  bottom: 380px;
  margin-bottom: 10px;
  
}
#q4 {
  max-inline-size: 380px;
  left: 500px;
  bottom: 680px;
}
#q5{
  bottom: 300px;
  margin-bottom: 0px;
}


#templar-img{
  height: auto;
  width: 410px;
  top: 50px;
  border-radius: 50px;
  margin-bottom: 80px;
  margin-right: 0px;
}


#average-masonic {
  border-radius: 30px;
  height: auto;
  width: 450px;
  margin-bottom: 280px;
}

#double-eagle {
  margin-top: 30px;
  width: auto;
  height: 300px;
  left: 500px;
}
#masonic-img{
  top: 450px;
  width: 400px;
  border-bottom-left-radius: 400px;
  border-bottom-right-radius: 400px;
  border-top-left-radius: 75px;
  border-top-right-radius: 150px;
  border-width: 0px;
  background-color: transparent;
  margin-left: 160px;

}
#masonic-family{
  height: auto;
  margin-top: 50px;
  margin-bottom: 150px;
  top: 50px;
  width: 400px;
}



#true-false{
    display: relative;
    width: max-content;
    height: max-content;
    bottom: 600px;
}

#q-list{
  position: relative;
  left: 10px;
}

#title{
  width: fit-content;
}

#title>div>h1{
  position: relative;
  font-size: 40px;
  left: 200px;
  border: 10px;
}

#question-div{
  margin-left: 400px;
  padding-bottom: 0px;
  opacity: 96%;
  border-radius: 80px;
  border-top-right-radius: 5px;
  border-bottom-right-radius: 10px;
  scroll-margin-top: 10px;
  width: 980px;
}


#charity{
  width: fit-content;
  position: relative;
  bottom: 1400px;
  left: 20px;
  
}
